<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
   {% extends 'navbar.html' %}
   {% block content %}
   <h2>Profile</h2>
   <hr>
   <div class="container">
    <p>Name: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Password: {{user.password}}</p>
    <p>Role: {{group}}</p>
   </div>
   {% endblock %}
</body>
</html>