
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abstract list</title>
</head>
<body>
    <a href="{% url 'index' %}">Back to homepage</a>
    <div>
        {{conference.id}} <br>
        {{conference.title}} <br>
    </div>
    
    <div>
        <strong>Submission details:</strong>
        <p>Author name: {{abstract_paper.author_name}}</p>
        <p>Title: {{abstract_paper.paper_title}}</p>
        <p>File path: <a href="{{url}}"> {{url}} </a></p>
        <p>Abstract file: {{abstract_paper.abstract_file}} {{abstract_paper.uploaded_file}}</p>
    </div>
</body>
</html>