<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participate</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <div class="mb-4">
        <u><h4>Event:</h4></u>
        <li>Type: {{conference.type}}</li>
        <li>Title: {{conference.title}}</li>
        <li>Location: {{conference.city}}, {{conference.country}}</li>
        
    </div>
    <div class="mt-4">
        <u><h4>Participant:</h4></u>
        <fieldset>
            <form action="{% url 'abstract_list' conference.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token  %}
                <div>
                    <label for="">Author name: *</label>
                    <input type="text" name="author_name"  required><br>
                    <label for="">Research title: *</label>
                    <input type="text" name="research_title"  required><br>
                    <label for="">Upload abstract: *</label>
                    <input type="file" name="abstract_file" accept=".pdf" required><br>
                    <input type="submit">
                </div>
            </form>
        </fieldset>
    </div>
    {% endblock %}
</body>
</html>