<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference details</title>
</head>
<body>
    <!-- <div>
        <h3>EasyChair</h3>
        <a href="{% url 'index' %}">Home</a>|
        <a href="{% url 'epic_series' %}">EPiC Series</a> |
        <a href="{% url 'kalpa_publications' %}">Kalpa Publication</a> |
        <a href="{% url 'preprints' %}">Preprints</a> |
        <a href="{% url 'author' %}">Author</a> |
        <a href="{% url 'editor' %}">Editor</a>
    </div> -->
    <fieldset>
        <p>
            <u>Conference ID#{{conference.id}}</u>
            <a href="{% url 'abstract_paper_list' conference.id %}"><p>See submitted abstracts here</p></a>
        </p>
        <p><b>Title: </b>{{conference.title}}</p>
        <p><b>Acronym: </b>{{conference.acronym}}</p>
        
        <p><b>Website: </b>{{conference.web_page}}</p>
        <p><b>City: </b>{{conference.city}}</p>
        <p><b>Venue: </b>{{conference.venue}}</p>
        <p><b>Country: </b>{{conference.country}}</p>  
        <p><b>Submissions limit: </b>{{conference.est_submissions}}</p>
        <p><b>First day: </b>{{conference.first_day}}</p>
        <p><b>Last day: </b>{{conference.last_day}}</p>
        <p><b>Primary area: </b>{{conference.primary_area}}</p>
        <p><b>Secondary area: </b>{{conference.secondary_area}}</p>
        <p><b>Area notes: </b>{{conference.area_notes}}</p>
        <p><b>Organizer: </b>{{conference.organizer}}</p>
        <p><b>Organizer's website: </b>{{conference.organizer_webpage}}</p>
        <a href="{% url 'upload_abstract' conference.id %}"><p>Participate here</p></a>
    </fieldset>

</body>
</html>