<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference Navbar</title>
</head>
<body>
    {% block content %}
    <div>
        <a href="{% url 'index' %}">Home</a>|
        <a href="{% url 'epic_series' %}">EPiC Series</a> |
        <a href="{% url 'kalpa_publications' %}">Kalpa Publication</a> |
        <a href="{% url 'preprints' %}">Preprints</a> |
    </div>
    {% endblock %}

</body>
</html>