<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference details</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <fieldset>
        <p>
            <a href="{% url 'abstract_paper_list' conference.id %}">See submitted abstracts here</a> |
            <a href="{% url 'upload_abstract' conference.id %}">Participate here</a>
        </p>
    
        <p><b><u>Conference ID#{{conference.id}}</u></b></p>
        <p>Title: {{conference.title}}</p>
        <p>Acronym: {{conference.acronym}}</p>
        <p>Website: {{conference.web_page}}</p>
        <p>City: {{conference.city}}</p>
        <p>Venue: {{conference.venue}}</p>
        <p>Country: {{conference.country}}</p>  
        <p>Submissions limit: {{conference.est_submissions}}</p>
        <p>First day: {{conference.first_day}}</p>
        <p>Last day: {{conference.last_day}}</p>
        <p>Primary area: {{conference.primary_area}}</p>
        <p>Secondary area: {{conference.secondary_area}}</p>
        <p>Area notes: {{conference.area_notes}}</p>
        <p>Organizer: {{conference.organizer}}</p>
        <p>Organizer's website: {{conference.organizer_webpage}}</p>
    </fieldset>
    {% endblock %}
</body>
</html>