<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference details</title>
</head>
<body>
    <fieldset>
        <p><u> Conference ID#{{conference.id}}</u></p>
        <p><b>Title: </b>{{conference.title}}</p>
        <p><b>Acronym: </b>{{conference.acronym}}</p>
        
        <p><b>Website: </b>{{conference.web_page}}</p>
        <p><b>City: </b>{{conference.city}}</p>
        <p><b>Venue: </b>{{conference.venue}}</p>
        <p><b>Country: </b>{{conference.country}}</p>  
        <p><b>Submissions limit: </b>{{conference.est_submissions}}</p>
        <p>{{conference.firstday}}</p>
        <p>{{conference.lastday}}</p>
        <p><b>Primary area: </b>{{conference.primaryarea}}</p>
        <p><b>Secondary area: </b>{{conference.secondaryarea}}</p>
        <p><b>Area notes: </b>{{conference.area_notes}}</p>
        <p><b>Organizer: </b>{{conference.organizer}}</p>
        <p><b>Organizer's website: </b>{{conference.organizer_webpage}}</p>
    </fieldset>

</body>
</html>