<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference</title>
</head>
<body>
    <h2>Conference</h2>
    
    <div>
        <p>{{name}}, you are at conference page! </p>
        <a href="{% url 'create_conference' %}"> Create conference </a> |
        <a href="{% url 'view_conferences' %}"> See list of conferences </a>
    </div>


</body>
</html>