<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create conference</title>
</head>
<body>
    {% extends 'navbar.html' %}
    
    {% block content %}
    <fieldset>
            <!-- Form start -->
            <form action="{% url 'conference_list' %}" name="conferenceForm" target="" method="POST">
                {% csrf_token %}
                <div>       
                    <label for="type">Type *</label>      
                    {{form.type}} <br>

                    <label for="">Conference name: *</label>
                    {{form.title}} <br>

                    <label for="">Acronym: *</label>
                    {{form.acronym}} <br>
                    <hr>

                    <label for="">Web page: *</label>
                    {{form.web_page}} <br>

                    <label for="">Venue: </label>
                    {{form.venue}} <br>

                    <label for="">City: *</label>
                    {{form.city}} <br>

                    <label for="country">Country/region: *</label>
                    {{form.country}} <br>

                    <label for="">Estimated number of submissions: *</label>
                    {{form.est_submissions}} <br>
                    <hr>

                    <label for="">First day: </label>
                    {{form.first_day}} <br>

                    <label for="">Last day: </label>
                    {{form.last_day}} <br>
                    <hr>

                    <label for="primary_area">Primary area: </label>
                    {{form.primary_area}} <br>

                    <label for="secondary_area">Scenondary area: </label>
                    {{form.secondary_area}} <br>

                    <label for="">Area notes: </label>
                    {{form.area_notes}} <br>
                    <hr>

                    <label for="">Organizer: *</label>
                    {{form.organizer}} <br>

                    <label for="">Organizer Web page: </label>
                    {{form.organizer_webpage}} <br>
                </div>
                <hr>
                <input type="submit" value="Submit">
            </form>
            <!-- Form start -->
    </fieldset>
    {% endblock %}
    
    
</body>
</html>