<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conferences</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <h4 class="mb-4"><u>All conferences:</u></h4>
    <fieldset>
        {% for conference in latest_conferences %}
        <ul>
            <li>
                <a href="{% url 'conference_details' conference.id %}"><p>Title: {{conference.title}}</p></a>
                <p>{{abstract_count}}</p>
            </li>
        </ul> 
        {% endfor %}
    </fieldset>
    {% endblock %}
</body>
</html>