<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% include 'navbar.html' %}

    <fieldset>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="">Username: </label>
            <input type="text" name="username" id="username" required> <br>
            <label for="">Password: </label>
            <input type="password" name="password" id="password" required> <br>
            <input type="submit" value="Submit">
        </form>
            {% for message in messages %}
                {{message}}
            {% endfor %}
    </fieldset>
    <a href="{% url 'user_registration' %}"><p>Don't have an account? Register here</p></a>
</body>
</html>